{% extends 'shopping/base.html' %}

{% block content %}
  <h1>{% if form.instance.pk %}Edit{% else %}Create{% endif %} Shopping Item</h1>

  <form method="post">
    {% csrf_token %}
    {{ form.as_p }}
    <button type="submit">Save</button>
  </form>

  <a href="{% url 'shopping_item_list' %}">Back to List</a>
{% endblock %}
<!-- <!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>FORMS</title>
    </head>
    <header><b><u>User Form</u></b></header>
    <body>
        <h1>Enter your name</h1>
        <form>
            <textarea name='text' style='margin-left: auto;'></textarea>
            <button type = 'submit'>Create profile</button>
        </form>
    </body>
</html> -->
